* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
.header {
  background-color: black;
  color: aliceblue;
}
ul {
  display: flex;
  justify-content: center;
  align-items: self-end;
  height: 50px;
}
li {
  margin: 20px;
  display: flex;
  list-style-type: none;
}
p {
  padding: 20px;
  margin: 70px;
  text-align: center;
  border-bottom: 2px solid rgb(87, 8, 8);
  border-radius: 10px;
}
.wrapper {
  position: sticky;
  top: 0;
  right: 0;
}
.boxscroll {
  background-color: aqua;
  height: 19px;
  width: 100%;
  display: flex;
  align-items: center;
}
.scrollindlitor {
  width: 0;
  background-color: rgb(223, 41, 113);
  height: 15px;
  position: sticky;
  box-shadow: 10px 0px 40px 3px rgb(162, 0, 255);
  border-radius: 40px;
}
